In [1]:
import pandas as pd 
import numpy as np

In [ ]:
A total of 15 print-heads were randomly selected and tested until failure. The durability of each print-head (in millions of characters) was recorded as follows:( in millions )
1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29

In [3]:
prints=np.array([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29])
prints

array([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.2 ,
       1.33, 1.18, 1.22, 1.29])

In [4]:
prints.shape

(15,)

In [5]:
df=pd.DataFrame(prints)
df

       0
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [6]:
c=['Prints']
df.columns=c
df

    Prints
0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29

In [7]:
#TASK-1-->Build 99% Confidence Interval Using Sample Standard Deviation
# Here we need picked random sample data from the given data
print1=np.array([ 1.48, 1.20, 1.33, 1.18, 1.22, 1.29])
df1=pd.DataFrame(print1)
df1

      0
0  1.48
1  1.20
2  1.33
3  1.18
4  1.22
5  1.29

In [8]:
c1=['print']
df1.columns=c1
df1

   print
0   1.48
1   1.20
2   1.33
3   1.18
4   1.22
5   1.29

In [9]:
df1["print"].mean().round(2)

1.28

In [10]:
df1["print"].std()

0.11183320914051725

In [11]:
from scipy.stats import norm 
cl_99=norm.interval(0.99,loc=df1["print"].mean(),scale=df1["print"].std())
cl_99
print (" I am confident that population mean lies between::",cl_99)

 I am confident that population mean lies between:: (0.9952700761192761, 1.5713965905473903)

In [ ]:
## Explain the steps you take and the rationale behind using the t-distribution for this task.
1.Sample Mean: Calculate the mean of the sample data.
2Standard Error: Determine the standard error, representing the uncertainty of the sample mean.
3.Degrees of Freedom: Calculate the degrees of freedom, typically (n-1) for a sample size of n.
4.Critical Value: Use the t-distribution table to find the critical value based on desired confidence level and degrees of freedom.
5.Margin of Error: Multiply the standard error by the critical value to obtain the margin of error.
6.Confidence Interval: Construct the confidence interval by adding and subtracting the margin of error from the sample mean.
7.Interpretation: With a chosen confidence level, you can be confident that the true population parameter falls within the calculated interval.

In [12]:
## TASK-2-->Build 99% Confidence Interval Using Known Population Standard Deviation
df

    Prints
0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29

In [13]:
df["Prints"].mean().round(2)

1.24

In [14]:
df["Prints"].std()##calcuated standard deviation

0.19316412956959936

In [15]:


# we are calculating the confidence interval with known population standard deviation
from scipy.stats import norm 
cl_99=norm.interval(0.99,loc=df1["print"].mean(),scale=0.2)
cl_99
print (" I am confident that population mean lies between::",cl_99)

 I am confident that population mean lies between:: (0.7681674726235531, 1.7984991940431132)